/* Custom RWA theme */
html {
  font-size: 62.5%; }
body {
  font-size: 1.8em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.5;
  font-weight: 400;
  font-family: "Lora", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}

.site-content {
  display: inline-block;
  height: 24px;
  padding: 0 30px;
  color: #555;
  font-size: 18px;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

h1 > a, h2.entry-title > a {
    font-size: 4.0rem;
    color: #000;
}

h1 > a:hover, h2.entry-title > a:hover {
  color: #000;
}

.highlight {
    font-size: 75%;
    display: block;
    overflow-x: auto;
    padding-top: 0em;
    padding-bottom: 0em;    
    padding-left: 0.5em;
    padding-right: 0.5em;    
    color: #333;
    background: #f1f1f1;
    margin-top: 1em;
    margin-bottom: 2em;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
}

.highlight > pre {
  display: block;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  white-space: pre;
}

.highlight pre > code {
  font-size: 100%;
  padding: 0;
  border: 0;
}

.highlight > code {
  font-size: 100%;
}

.bibliography ol {
  counter-reset: list;
  display: table;
}

.bibliography ol > li {
  counter-increment: list;
  display: table-row;
}

.bibliography ol > li:before {
  content: "[" counter(list) "]";
  display: table-cell;
  text-align: right;
  padding-right: 1em;
}

.math {
  font-size: 100%;
}

ul {
  list-style: outside circle none;
  margin-left: 0;
  padding-left: 1em;
}

ol {
  list-style: outside decimal none;
  margin-left: 0;
  padding-left: 1em;
}

li {
  padding-left: 0.5em;
}    
